
main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 150px;
    background-color:#fff;
    border: 2px solid hsl(321, 100%, 78%);
    border-bottom: 2px solid hsl(0, 100%, 63%);
    color: hsl(321, 100%, 78%);
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
}

h2 {
    font-size: 30px;
    font-weight: 700px;
}

.text1 , .text2 , .text3 , .text4{
    font-size: 18px;
    width: 25%;
    text-align: justify;
}

.btn2 {
    width: 250px;
    height: 50px;
    background-color:hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    box-shadow: 2px 3px 5px grey;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    margin: 20px;
}

.count {
    margin: 25px;
    display: flex;
    justify-content: space-around;
}

.count h2 {
    font-size: 50px;
}

.count p {
    position: relative;
    top: 100px;
    right: 110px;
}

.count svg {
    position: relative;
    left: 50px;
}

.container1 , .container2 , .container3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-top: 100px;
}

.container1 h2 , .container2 h2 , .container3 h2{
    position: relative;
    left: 80px;
}


.btn3 {
    position: relative;
    left: 50px;
    width: 250px;
    height: 50px;
    background-color:hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    box-shadow: 2px 3px 5px grey;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    margin: 20px;
}


.f1 , .f2 {
    
    margin-top: 150px;
    width: 25%;
    padding: 0px 30px 0px 30px;
}


.f2 input {
    border: 1 solid hsl(207, 100%, 98%);
    border-radius: 5px;
    width: 200px;
    height: 25px;
}

.f2 button {
    background-color:hsl(322, 100%, 66%);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}